<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fiche-patient-heading" jhiTranslate="ykCrfApp.fichePatient.home.createOrEditLabel">Create or edit a Fiche Patient</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fichePatient.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fichePatient.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ykCrfApp.fichePatient.codePatient" for="field_codePatient">Code Patient</label>
                    <input type="text" class="form-control" name="codePatient" id="field_codePatient"
                        [(ngModel)]="fichePatient.codePatient" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ykCrfApp.fichePatient.oneDate" for="field_oneDate">One Date</label>
                    <div class="d-flex">
                        <input id="field_oneDate" type="datetime-local" class="form-control" name="oneDate" [(ngModel)]="oneDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ykCrfApp.fichePatient.centre" for="field_centre">Centre</label>
                    <select class="form-control" id="field_centre" name="centre" [(ngModel)]="fichePatient.centreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="centreOption.id" *ngFor="let centreOption of centres; trackBy: trackCentreById">{{centreOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
