<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formulairePatient">
            <h2><span jhiTranslate="ykCrfApp.formulairePatient.detail.title">Formulaire Patient</span> {{formulairePatient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ykCrfApp.formulairePatient.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{'ykCrfApp.EtatFormulaire.' + formulairePatient.etat}}">{{formulairePatient.etat}}</span>
                </dd>
                <dt><span jhiTranslate="ykCrfApp.formulairePatient.fichePatient">Fiche Patient</span></dt>
                <dd>
                    <div *ngIf="formulairePatient.fichePatientId">
                        <a [routerLink]="['/fiche-patient', formulairePatient.fichePatientId, 'view']">{{formulairePatient.fichePatientId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ykCrfApp.formulairePatient.formulaireTemplate">Formulaire Template</span></dt>
                <dd>
                    <div *ngIf="formulairePatient.formulaireTemplateId">
                        <a [routerLink]="['/formulaire-template', formulairePatient.formulaireTemplateId, 'view']">{{formulairePatient.formulaireTemplateId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formulaire-patient', formulairePatient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
