<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeComposant">
            <h2><span jhiTranslate="ykCrfApp.typeComposant.detail.title">Type Composant</span> {{typeComposant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ykCrfApp.typeComposant.code">Code</span></dt>
                <dd>
                    <span>{{typeComposant.code}}</span>
                </dd>
                <dt><span jhiTranslate="ykCrfApp.typeComposant.titre">Titre</span></dt>
                <dd>
                    <span>{{typeComposant.titre}}</span>
                </dd>
                <dt><span jhiTranslate="ykCrfApp.typeComposant.cssStyle">Css Style</span></dt>
                <dd>
                    <span>{{typeComposant.cssStyle}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-composant', typeComposant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
